.trapezoid {
    border-bottom: 100px solid gray;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 80%;
    opacity: 0.5;
    -webkit-box-shadow: 0px 7px 13px 1px #000000;
    box-shadow: 0px 7px 13px 1px #000000;
}